version: '3.8'
services:
  mysql:
    image: mysql:8.0.3
    container_name: friendly_black
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword123  # Solo esta variable
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      retries: 10
    volumes:
      - mysql_data:/var/lib/mysql
volumes:
  mysql_data:
